<div id="<%= dom_id provenance_record %>">
  <p>
    <strong>Accession number:</strong>
    <%= provenance_record.accession_number %>
  </p>

  <p>
    <strong>Collection name:</strong>
    <%= provenance_record.collection_name %>
  </p>

  <p>
    <strong>Start year:</strong>
    <%= provenance_record.start_year %>
  </p>

  <p>
    <strong>End year:</strong>
    <%= provenance_record.end_year %>
  </p>

  <p>
    <strong>Date expression:</strong>
    <%= provenance_record.date_expression %>
  </p>

  <p>
    <strong>Year received:</strong>
    <%= provenance_record.year_received %>
  </p>

  <p>
    <strong>Month received:</strong>
    <%= provenance_record.month_received %>
  </p>

  <p>
    <strong>Day received:</strong>
    <%= provenance_record.day_received %>
  </p>

  <p>
    <strong>Linear feet:</strong>
    <%= provenance_record.linear_feet %>
  </p>

  <p>
    <strong>Containers:</strong>
    <%= provenance_record.containers %>
  </p>

</div>
