<div id="<%= dom_id provenance_record %>">
  <% if provenance_record.unlist %>
    <p>
      <strong class="fs-2 text-danger">UNLISTED</strong>
    </p>
  <% end %>

  <p>
    <strong>Accession number:</strong>
    <%= provenance_record.accession_number %>
  </p>

  <p>
    <strong>Collection name:</strong>
    <%= provenance_record.collection_name %>
  </p>

  <p>
    <strong>Finding aid:</strong>
    <% if provenance_record.finding_aid_link %>
      <a href="<%= provenance_record.finding_aid_link %>"><%= provenance_record.finding_aid_link %></a>
    <% end %>
  </p>

  <p>
    <strong>Colelction name alpha:</strong>
    <%= provenance_record.collection_name_alpha %>
  </p>

  <p>
    <strong>Start year:</strong>
    <%= provenance_record.start_year %>
  </p>

  <p>
    <strong>End year:</strong>
    <%= provenance_record.end_year %>
  </p>

  <p>
    <strong>Date expression:</strong>
    <%= provenance_record.date_expression %>
  </p>

  <p>
    <strong>Year received:</strong>
    <%= provenance_record.year_received %>
  </p>

  <p>
    <strong>Month received:</strong>
    <%= provenance_record.month_received %>
  </p>

  <p>
    <strong>Day received:</strong>
    <%= provenance_record.day_received %>
  </p>

  <p>
    <strong>Linear feet:</strong>
    <%= provenance_record.linear_feet %>
  </p>

  <p>
    <strong>Containers:</strong>
    <%= provenance_record.containers %>
  </p>

  <p>
    <strong>Files:</strong>
    <div class="row">
      <% provenance_record.provenance_files.each do |file| %>
        <div class="col-md-4 col-lg-3 mb-3">
          <% if file.representable? %>
            <%= link_to(image_tag(file.representation(resize_to_limit: [200, 200])), file) %>
          <% else %>
            <%= link_to file.filename, rails_blob_path(file, disposition: 'attachment') %>
          <% end%>
        </div>
      <% end %>
    </div>
  </p>

</div>
