<%= turbo_frame_tag "table" do %>
  <% unlisted_toggle_text = params[:show_unlisted] ? "Hide unlisted records" : "Show unlisted records" %>
  <%= toggle_unlisted_link(show_unlisted: params[:show_unlisted], label: unlisted_toggle_text) %>
  <table class="table table-striped">
    <thead>
      <tr>
        <% if params[:show_unlisted] == "true" %>
          <th scope="col">Unlisted</th>
        <% end %>
        <th scope="col"><%= sort_link(column: "accession_number", label: "Accession#") %></th>
        <th scope="col"><%= sort_link(column: "collection_name_alpha", label: "Collection name") %></th>
        <th scope="col"><%= sort_link(column: "start_year", label: "Date range") %></th>
        <th scope="col"><%= sort_link(column: "linear_feet", label: "Linear feet") %></th>
        <th scope="col">Finding aid</th>
      </tr>
    </thead>
    <tbody>
    <% provenance_records.each do |provenance_record| %>
      <tr>
        <% if params[:show_unlisted] == "true" %>
          <td><%= provenance_record.unlist ? "X" : "" %></th>
        <% end %>
        <td>
          <%= provenance_record.accession_number %>
        </td>
        <td>
          <%= link_to(provenance_record.collection_name, provenance_record) %>
        </td>
        <td>
          <%= provenance_record.date_expression %>
        </td>
        <td>
          <%= provenance_record.linear_feet %>
        </td>
        <td>
          <% if provenance_record.finding_aid_link %>
            <%= link_to "link", provenance_record.finding_aid_link %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>