<%= turbo_frame_tag "table" do %>
  <div class="d-flex justify-content-end">
    <%= form_with url: provenance_records_path, method: "get" do |form| %>
      <%= form.label :q, "Search collection names:", class: "form-label" %>
      <%= form.text_field :q, value: session[:q], class: "form-control" %>
    <% end %>
    <%= link_to "Clear settings", :clear_settings %>
  </div>
  <% unlisted_toggle_text = session[:show_unlisted] == "true" ? "Hide unlisted records" : "Show unlisted records" %>
  <%= toggle_unlisted_link(show_unlisted: session[:show_unlisted], label: unlisted_toggle_text) %>
  <table class="table table-striped">
    <thead class="table-dark">
      <tr>
        <% if session[:show_unlisted] == "true" %>
          <th scope="col">Unlisted</th>
        <% end %>
        <th scope="col"><%= sort_link(column: "accession_number", label: "Accession#") %></th>
        <th scope="col"><%= sort_link(column: "collection_name_alpha", label: "Collection name (alpha)") %></th>
        <th scope="col"><%= sort_link(column: "start_year", label: "Date range") %></th>
        <th scope="col"><%= sort_link(column: "linear_feet", label: "Linear feet") %></th>
        <th scope="col">Finding aid</th>
      </tr>
    </thead>
    <tbody>
    <% provenance_records.each do |provenance_record| %>
      <tr>
        <% if session[:show_unlisted] == "true" %>
          <td><%= provenance_record.unlist ? "X" : "" %></th>
        <% end %>
        <td>
          <%= provenance_record.accession_number %>
        </td>
        <td>
          <%= link_to(provenance_record.collection_name_alpha, provenance_record) %>
          <% if provenance_record.collection_name_alpha.blank? %>
            <%= link_to(provenance_record.collection_name.presence || provenance_record.accession_number.presence || '[no title]', provenance_record) %>
          <% end %>
        </td>
        <td>
          <%= provenance_record.date_expression %>
        </td>
        <td>
          <%= provenance_record.linear_feet %>
        </td>
        <td>
          <% if !provenance_record.finding_aid_link.blank? %>
            <%= link_to "link", provenance_record.finding_aid_link %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
<% end %>